* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}
.body-color {
  background-color:#c2d1f0;
}

.header {
  background-color: #003366;
	width:100%;
}
.itemCatalog-div {
  margin-top:3%;
}
.itemCatalog {
  color:#ffffff;
  font-weight: 900;
}
.border-solid {
	border: 1px solid gray;
}
.login-div {
  margin-top:1.3%;
}

.login-btn {
  color:#ffffff;
	background-color: #f54c0a;
  font-weight: 500;
}

.google-signin-div {
	margin-top:100px;
}

.h4-title {
  color:blue;
  font-weight: 800;
}

.content {
  margin-top: 50px;
  background-color: #FFFFFF;
}

.catagory-list {
 	background-color: #F0F0F0;
 	padding: 20px;
 }
 .catagory-list:hover {
 	background-color: #e1e17f;
 	padding: 20px;
}
.border-left {
	border-left:0.5px outset #dbe2e8;
}
.border-right {
  border-right: 0.5px inset #F0F8FF;
}

.description {
	margin-top:15px;
	margin-bottom:40px;
	background-color: #FFFFFF;
	font-weight: 300;
}

.red {
	color:red;
}
.normal {
	font-weight: 500;
}
.italic {
	font-style: italic;
}
.padding-top {
	padding-top: 30px;
}
.padding-bottom {
	padding-bottom: 30px;
}
.bold {
	font-weight: 800;
}
.update-item {
	margin-left: -11px;
}
