{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="container">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
        {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <div class="row content border-solid">
        <div class="col-md-2 border-right">
            <h4 class="h4-title">Categories</h4> {% for category in categories %}
            <a href="{{url_for('showSpecificCategory', category_name = category.name)}}">
                <div class="red">{{category.name}}</div>
            </a>

            {% endfor %}
        </div>
        <div class="col-md-6 border-left">
            <a href="/catalog/addItem/" class="red">Add Item</a>
            <h4 class="h4-title">Latest Items</h4> {% for item in items %}
            <a href="{{url_for('showItemDescription',
                       category_name=item.category.name, item_name=item.name)}}">
                <div>
                    <span class="red">{{item.name}}</span>
                    <span class="italic">&nbsp;({{item.category.name}})</span>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}